*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    color: white;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    margin: 0;
    line-height: 40px;
}

h1 {
    font-size: 16px;
    font-weight: 100;
    opacity: 90%;
}

h2 {
    font-size: 40px;
    font-weight:500;
}

.filtre {
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}

#adresse_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    
}


.filtre button {
    width: 200px;
    height: 90%;

}

.left_header {
    background-color: rgba(255, 255, 255, 0.541);
    width: 80%;
    height: 3vh;
    display: flex;
    align-items: center;
    border-radius: 2px 0px 0px 2px;
    padding: 3px;
    justify-content: space-around;
}

.left_header input {
   /* width: 25%; */
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;
    /*margin-right: 50px;*/
    
}

.right_header {
    width: 20%;
    height: 100%;
    background-color: rgba(85, 176, 85, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

/*input date */
    .date {
        width: 200px;
        display: flex;
        justify-content: space-between;
    }

    .input_left {
        width: 85%;
    }

    .img_right {
        width: 15%;
        background: rgb(211, 211, 211);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 2px 2px 0px;
    }

    .img_right img {
        width: 15px;

    }

   
   

/* fin header style */

.container {
    width: 70%;
    padding-top: 20px;
}

.result {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.result h3 {
    font-size: 22px;
    font-weight: normal;
}

.result span {
    font-weight: bold;
}

.result button {
    border: none;
    border-radius: 2px;
    padding: 5px 8px;
    filter: drop-shadow(0px 1px 1px black);
    background: linear-gradient(rgba(255, 255, 255, 0.948),rgba(228, 228, 228, 0.907));
}

.button_fleche {
    width: 10px;
}

.voiture{
    width: 70%;
}

.container_voitures {
    width: 100%;
    height: 20vh;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    line-height: 30px;
    align-self: flex-start;
}

.right button {
    width: 150px;
    padding: 10px 0px;
    background: linear-gradient(rgba(93, 224, 60, 0.8),rgba(30, 144, 2, 0.8));
    color: white;
    border: none;
    border-radius: 3px;
    filter: drop-shadow(0px 2px 2px black);
}

.left_cross, .right_cross {
    width: 5%;
}

.left_cross {
    transform: rotate(90deg);
}

.right_cross {
    transform: rotate(-90deg);
}

/*fin de la section voiture */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    padding: 50px 0px 100px 0px;
}

.img_left {
height: 10%;
width: 30%;
}

.img_left img {
    width: 100%;
    height: 10%;
}

.coordonnes {
    line-height: 20px;
    height: 10%;
    font-size: 1em;
}

.coordonnes h3 {
    font-weight: normal;
}
