@media (max-width: 980px) {
    .filtre, .right_header {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }

    .left_header {
        width: 100%;
        height: 5vh;
        box-sizing: border-box;
        
    }

   

    .left_header button, .left_header .date {
        width: 30%;
        height: 90%;
    }

    .date input {
        width: 100%;
        height: 100%;
    }

    .right_header {
        height: 40%;
    }
 

    /* header end */
    .container_voitures {
        height: 30vh;
        width: 90%;
    }

    .container {
        width: 90%;
    }

    


    .desc_v {
        display: none;
    }

    .left {
        height: 40vh;
        width: 100%;
    }

    .right {
        height: 30vh;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right button {
        font-size: 9px;
        width: 100%;
        
    }

    footer {
        width: 90%;
        font-size: 12px;
    }














}